---
import Carrusel from "@components/ui/Carrusel.astro";
import SectionContainer from "@components/ui/SectionContainer.astro";
import type { GallerySection } from "src/types";

interface Props {
	i18n: GallerySection;
}

const { i18n } = Astro.props;
const { id, title, subtitle, images } = i18n;
---

<SectionContainer id={id} class="px-4 bg-background-alt sm:px-6 lg:px-8">
  <div class="relative z-10 max-w-6xl mx-auto text-center">
    <h2
      class="mb-4 text-2xl font-extrabold tracking-wide sm:text-3xl md:text-4xl text-secondary sm:mb-6 drop-shadow"
    >
      {title}
    </h2>
    <p
      class="max-w-3xl mx-auto mb-5 text-base text-gray-300 sm:text-lg sm:mb-9 backdrop-blur-sm"
    >
      {subtitle}
    </p>

    <Carrusel {i18n} />
  </div>

  {/* Borde inferior decorativo */}
  <div class="absolute bottom-0 left-0 right-0 h-px bg-gradient-to-r from-transparent via-secondary/20 to-transparent"></div>
</SectionContainer>
